<template>
    <div class="container">
        <div class="level">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Product List</div>

                    <!-- snippit from https://bootsnipp.com/snippets/REa6r -->
                    <div class="fullwidth">
                        <div class="gallery">
                            <figure class="item" v-for="product in products">
                                <div class="img-wrap"><img :src="product.img" alt="" /></div>
                                <figcaption class="caption">
                                    <h3>{{product.title}}</h3>
                                    <a class="btn-buy" href="#">£{{product.price}}</a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                    <div v-if="loading" class="text-center fullwidth">
                        <i class="fas fa-spinner fa-spin fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    mounted() {
      this.loadMore();
      $(window).scroll(() => {
        if($(window).scrollTop() + $(window).height() == $(document).height()) {
          this.loadMore();
        }
      });
    },
    data(){
      return{
        page: 1,
        products: [],
        loading: false,
      }
    },
    methods: {
      loadMore(){
        this.loading = true;
        axios.get(`/more-products?page=${this.page}`)
          .then(res => {
            this.page++;
            this.products = [...this.products, ...res.data.data];
            this.loading = false;
          })
          .catch(err =>{
            this.loading = false;
            console.log(err);
          });
      }
    },
  }
</script>
